* {
  font-family: "JetBrains Mono", monospace;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 20px;
  width: 120px;
}

td.seperator {
  height: 2px;
}

td.score {
  text-align: right;
  width: 50px;
}

.container {
  display: flex;
}

.scoreboard {
  margin-right: 20px;
}

.dice-board {
  margin-left: 20px;
}

